services:
  app:
    build: .
    ports:
      - "${APP_PORT:-8000}:8000"
    environment:
      - DATABASE_URL=sqlite:////data/app.db
    volumes:
      - db_data:/data
  prometheus:
      image: prom/prometheus:v2.45.0
      volumes:
        - ./prometheus.yml:/etc/prometheus/prometheus.yml
      ports:
        - "9090:9090"

  grafana:
      image: grafana/grafana:10.2.0
      ports:
        - "3000:3000"
      volumes:
        - ./grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yaml
        - ./grafana/dashboards.yml:/etc/grafana/provisioning/dashboards/dashboards.yaml
        - ./grafana/charts.json:/etc/grafana/provisioning/dashboards/wykres.json

volumes:
  db_data:
