apiVersion: 1
groups:
  - orgId: 1
    name: "Library Alerts"
    folder: "Library Alerts"
    interval: 10s
    rules:
      - uid: "high_request_rate"
        title: "High HTTP Request Rate"
        condition: B
        for: 10s
        data:
          - refId: A
            datasourceUid: "prometheus"
            relativeTimeRange: { from: 600, to: 0 }
            model:
              expr: 'sum(rate(http_request_duration_seconds_count{handler!="/metrics"}[30s]))'
              refId: A
          - refId: B
            datasourceUid: "-100"
            model:
              expression: A
              refId: B
              type: reduce
              reducer: last
              conditions:
                - type: query
                  evaluator: { params: [0.5], type: gt }
                  operator: { type: and }
                  query: { params: [B] }
                  reducer: { type: last }
        noDataState: OK

      - uid: "app_down"
        title: "FastAPI App Down"
        condition: C
        for: 0s
        data:
          - refId: A
            datasourceUid: "prometheus"
            relativeTimeRange: { from: 600, to: 0 }
            model:
              expr: 'up{job="fastapi-app"}'
              refId: A
          - refId: B
            datasourceUid: "-100"
            model:
              expression: A
              type: reduce
              reducer: last
              refId: B
          - refId: C
            datasourceUid: "-100"
            model:
              expression: B
              type: threshold
              refId: C
              conditions:
                - evaluator: { params: [1], type: lt }
                  operator: { type: and }
                  query: { params: [C] }
                  reducer: { type: last }
                  type: query
        noDataState: Alerting